.invertimg0
{
	-webkit-filter: invert(60%);
	background: #000000;
}
.invertimg1
{
	-webkit-filter: invert(70%);
	background: #000000;
}
.invertimg2
{
	-webkit-filter: invert(80%);
	background: #000000;
}
.invertimg3
{
	-webkit-filter: invert(90%);
	background: #000000;
}
.invertimg4
{
	-webkit-filter: invert(100%);
	background: #000000;
	
}
.invertimg5
{
	-webkit-filter: invert(90%);
	background: #000000;
}
.invertimg6
{
	-webkit-filter: invert(80%);
	background: #000000;
}
.invertimg7
{
	-webkit-filter: invert(70%);
	background: #000000;
}
.invertimg8
{
	-webkit-filter: invert(60%);
	background: #000000;
}
.invertimg9
{
	-webkit-filter: invert(55%);
	background: #000000;
}
